:root {
  --mimiDark: #594543; 
  --mimiLight: #8C7B7B; 
  --mimiBg: #F5F5F5; 
  --mimiContainer: #FBF9F9; 
  --mimiFooter: #F0ECEC; 
}

/* main */
#main {width: 70vw; min-width: 1120px; margin: 0 auto 5rem auto;display: flex;justify-content: space-between;}
#main .most_liked_news{width: 768px;padding: 2rem;}
#main section.most_liked_news h2{width: 768px;font-size: 40px;font-weight: 600;}
#main .most_liked_news .news_list{display:flex;flex-direction:column;}
#main .most_liked_news .news_list li{display:flex;flex-direction:column;}
#main .most_liked_news .news_img{width:48%;overflow:hidden;border-radius: 8px;}
#main .most_liked_news img{width:100%;height:100%;}
#main .most_liked_news .news_list .news_content{width:52%;display: flex;flex-direction: column;padding: 1rem;justify-content: space-between;}
#main .most_liked_news .news_content h3{font-size: 24px;font-weight: 600;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
#main .most_liked_news .news_list .context{
  height: 48px;
  margin: 0 0 0.5rem 0;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 90%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
#main .most_liked_news .news_list .date{color:var(--mimiLight);font-size:14px;text-align:end;}

#main .most_liked_news .news_list .fst_news .context{width: 100%;height: 120px;-webkit-line-clamp: 5;}
#main .most_liked_news .fst_news>div {display:flex;margin: 2rem 0;width: 100%;justify-content: space-between;align-items: center;padding:0 0.5rem;}
#main .most_liked_news .news_list .fst_news .news_content{height:240px;}

#main .most_liked_news .snd_news{display:flex;justify-content: space-between;}
/* #main .most_liked_news .snd_news>div{display: flex;flex-direction: column;justify-content: center;align-items: center;} */
#main .most_liked_news .snd_news>div{width:100%}
#main .most_liked_news .snd_news .news_img{width:90%;height: 224px;margin: 0 auto;}
#main .most_liked_news .news_list .snd_news .news_content{width:100%; align-items: center;}
#main .most_liked_news .snd_news .news_content h3 {font-size: 20px;width: 90%;}
#main .most_liked_news .news_list .snd_news .news_content{height:140px;}
#main .most_liked_news .news_list .snd_news .date{width:90%;}

/* aside */
aside.xs{display:none;}
aside {width: 320px;}
aside .login_box {width: 100%; margin-bottom: 2rem;display: flex;flex-direction: column;align-items: center;padding: 1rem;}
aside .login_box p{margin: 0; font-size: 14px;}
aside .login_box .login{color: var(--mimiContainer); font-size: 24px; background-color: var(--mimiLight); border-radius: 4px;width: 190px;text-align: center;padding: 0.3rem;margin: 0.5rem auto;}
aside .logining {display: flex; align-items: center; justify-content: space-around; margin: 0.5rem auto;width: 90%;}
aside .btn{border-radius: 4px;text-align: center;margin: 0.5rem auto;padding: 0.5rem 1rem;}
aside .login_box .write{color: var(--mimiContainer); font-size: 18px; background-color: var(--mimiLight);}
aside .login_box .profile{color: var(--mimiContainer); font-size: 18px; background-color: var(--mimiDark);}
aside .login_box .logout_box .logout{color: var(--mimiLight); font-size: 16px;display:flex;width:100%;justify-content:center;}
aside .login_box .logout{border-bottom:1px solid;}
aside .login_box .register{font-weight: 500;color: var(--mimiLight);padding-bottom: 1px;border-bottom: 1px solid;}
aside .index_viewest {width:100%}
aside div.index_viewest div.most_viewed_news {width:100%;margin-left:0;}
aside div.index_viewest .most_viewed_news .news_content {width: 70%;}
aside div.index_viewest .most_viewed_news .news_content * {width: 100%;}
aside.xs .login_box>p {white-space: nowrap;}
@media screen and (max-width: 1200px) {
  #main {width: 90%;justify-content: center;min-width: 320px;}
  aside {margin-left:1rem;}
  #main .most_liked_news {width: 400px;margin-right: 1rem;}
  #main .most_liked_news h2 {margin-bottom: 2rem;}
  #main section.most_liked_news h2 {width: 100%;}
  #main .most_liked_news .news_img {width: 90%;}
  #main .most_liked_news .fst_news>div{flex-direction: column;margin:0;}
  #main .most_liked_news .news_content h3 {font-size:20px;}
  #main .most_liked_news .news_list .fst_news .news_content {width:100%;height: 140px;}
  #main .most_liked_news .news_list .fst_news .context {height: 48px;}
  #main .most_liked_news .snd_news {flex-direction: column;}
  #main section.most_liked_news .news_list div.news_img{height:200px;}
}
@media screen and (max-width: 800px) {
  #main {flex-direction:column;align-items: center;}
  #main .most_liked_news {width: 80%;margin-right: 0;}
  aside.xs{display:flex;justify-content:space-between;align-items:center;width: 80%;}
  aside.xs .index_viewest{width: 260px;}
  aside.xs .login_box {width: 40%;margin:0;height: 260px;justify-content:center;}
  aside.xs .login_box>p {text-align: center; white-space: pre-wrap;}
  aside.xs .login_box .login{width: 80%;}
  aside.xs .logining{flex-direction:column;}
  aside.xs div.index_viewest div.most_viewed_news {height:280px;}
  aside.xs .most_viewed_news .news_list li {margin-bottom:8px;}
  aside.xs .most_viewed_news .news_list li:nth-child(4){display:none;}
  aside.md{display:none;}
}
@media screen and (max-width: 630px) {
  aside.xs {margin-bottom:2rem; justify-content: center;}
  aside.xs .login_box {width: 320px;}
  aside.xs .index_viewest {display:none;}
  aside.xs .login_box>p {white-space: nowrap;}
}
@media screen and (max-width: 500px){
  #main section.most_liked_news .news_list div.news_img{height:140px;}	
}