#wrap {
    width: 100%;
    display: flex;
    justify-content: center;
}

#login .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 0;
    margin-top: 40px;
}

#login_logo {
    width: 250px;
    height: 60px;
}

h2 {
    font-size: 40px;
    font-family: "NotoSansKR-Light";
    margin-bottom: 40px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login_box {
    width: 500px;
    height: 230px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.id_box {
    display: flex;
    flex-direction: column;
    height: 50%;
    padding: 20px 20px 0px 20px;
    justify-content: space-around;
}

.id_box label {
    font-size: 20px;
    height: 40%;
}

.id_box input {
    border-width: 0 0 1px;
    background: rgba(0, 0, 0, 0);
    border-color: var(--mimiDark);
}

.pw_box {
    display: flex;
    flex-direction: column;
    height: 50%;
    padding: 0px 20px 20px 20px;
    justify-content: space-around;
    margin-top: 20px;
}

.pw_box label {
    font-size: 20px;
    height: 40%;
}

.pw_box input {
    border-width: 0 0 1px;
    background: rgba(0, 0, 0, 0);
    border-color: var(--mimiDark);
}

.join_btn {
    width: 100%;
    margin: 10px 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.join_btn span {
    color: var(--mimiLight);
    margin-right: 10px;
}

.join_btn button {
    border: 0;
    background: rgba(0, 0, 0, 0);
    font-size: 20px;
    color: var(--mimiLight);
    margin-right: 20px;
    cursor: pointer;
}

.join_btn button:hover {
    color: var(--mimiDark);
}

.message_box {
    height: 20px;
    margin-bottom: 30px;
    color: #FF0101;
}

.login_btn {
    width: 336px;
    height: 78px;
    margin-bottom: 10px;
    border-radius: 2px;
    background: var(--mimiLight);
}

.login_btn button {
    width: 100%;
    height: 100%;
    border: 0;
    background: rgba(0, 0, 0, 0);
    cursor: pointer;
    color: #ffffff;
    font-size: 24px;
    transition: background 0.3s;
}

.login_btn button:hover {
    background: var(--mimiDark);
}

input:focus {
    outline: none;
    box-shadow: none;
}

input:-webkit-autofill {
    box-shadow: 0 0 0px 1000px #FBF9F9 inset !important;
    -webkit-text-fill-color: #594543 !important;
}

@media screen and (max-width: 568px) {
	.login_box{width: 80%;min-width:320px}
	.login_btn{width: 240px;height: 68px;}
}