/* 
[CSS를 사용할 ~.jsp 에 추가]
<script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
<link rel="stylesheet" type="text/css" href="${pageContext.request.contextPath}/css/main.css">
*/

/*
[공용색상 정의]
사용 예) background-color: var(--mimiBg);
 */
:root {
  --mimiDark: #594543; 
  --mimiLight: #8C7B7B; 
  --mimiBg: #F5F5F5; 
  --mimiContainer: #FBF9F9; 
  --mimiFooter: #F0ECEC; 
}
/* font */
@font-face {
  font-family: "NotoSansKR-Light";
  src: url("../font/NotoSansKR-Light.woff");
}
@font-face {
  font-family: "NotoSansKR-Regular";
  src: url("../font/NotoSansKR-Regular.woff");
}
@font-face {
  font-family: "NotoSansKR-Medium";
  src: url("../font/NotoSansKR-Medium.woff");
}
@font-face {
  font-family: "NotoSansKR-SemiBold";
  src: url("../font/NotoSansKR-SemiBold.woff");
}
@font-face {
  font-family: "NotoSansKR-Bold";
  src: url("../font/NotoSansKR-Bold.woff");
}
@font-face {
  font-family: "NotoSansKR-ExtraBold";
  src: url("../font/NotoSansKR-ExtraBold.woff");
}

/* reset */
*{
  margin:0; 
  padding:0;
  box-sizing: border-box;
  color: var(--mimiDark);
  font-size: 16px;
  font-family: "NotoSansKR-Regular";
  word-break: break-all;
}
html, body{height: 100%;width: 100%;position: relative;background-color: var(--mimiBg);}
a{text-decoration: none;color: inherit;}
ul, li{list-style: none;}
button{border: none; background-color: transparent; cursor: pointer;}
/* 중요내용 작성 > 하지만 display 노출에서 감추고 싶을 때 사용 (dom에서 완전히 감추는 display:none과 다름) */
.hide{font-weight: 0;width: 0;height: 0;overflow: hidden;position: absolute;z-index: -999;}
/* 공용 */
.title1 {font-size: 40px;}
.title2 {font-size: 24px;}
.cont{
  background-color: var(--mimiContainer);
  border-radius: 2px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.profile_img{overflow:hidden;border-radius:50%;}
::selection {background-color:#dfd7d7;color: var(--mimiLight);}

/* loading-overlay */
#loading-overlay { 
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);       /* 배경색 */
  display: flex;            /* 중앙 정렬을 위한 flex */
  align-items: center;
  justify-content: center;
  z-index: 9999;            /* 최상위에 표시 */
}
.spinner { 
  width: 60px;
  height: 60px;
  border: 6px solid #ddd;
  border-top-color: #51595e; /* 회전하는 부분 색 */
  border-radius: 50%;
  animation: spin 1s linear infinite;
}
@keyframes spin {  to { transform: rotate(360deg); } }

/* navigation */
#logo{margin: 0 1rem;}
#nav{
  height: 120px; 
  width: 100%; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f5f5f5cc;
  /* box-shadow: 0px 0px 10px 0px #594543; */
  position: fixed;
  top: 0;
  left: 0;
  z-index: 11;
  border-bottom: 1px solid var(--mimiLight);
}
#nav .menu{display: flex; margin: 0 1rem;width: 50%;justify-content: space-around;min-width: 360px;}
#nav .menu li a{margin: 0 1rem;font-size: 20px; font-weight: 400;}
#nav .menu li a:hover{font-weight: 800;}
#nav .menu_icon{display: none; cursor: pointer;}
.base{width:100%;height: 120px;position: relative;top: 0;}
.nav_toggle{
  overflow: hidden;
  font-size: 18px;
  height: 0;
  width: 100%;
  background-color: var(--mimiContainer);
  position: absolute;
  left: 0;
  top: 120px;
  box-shadow: 0 5px 4px 0 rgba(0, 0, 0, 0.1);
  transition: all 0.3s;
}
.nav_toggle.open{height: 248px;}
.nav_toggle a{width: 100%;display: inline-block;text-align: center;padding: 1rem;font-size: 20px;
}
.nav_toggle a:hover{background-color: var(--mimiFooter);}

/* footer */
footer{
  width: 100%; 
  height: 160px; 
  padding: 1rem 0 2rem 0;
  background-color: var(--mimiFooter);
  position: relative;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  margin-top: 8rem;
  z-index:12;
}
footer hr{width: 90%;border-color: var(--mimiLight);margin: 1rem auto;}
footer .footer_logo{width: 90%; text-align: start;margin:auto;}
footer img{width: 80px;height: auto;}
footer p{text-align: center;color: #8C7B7B; }

/* searchBar */
#search_box {width: 100%; height: 320px;display: flex;justify-content: center;align-items: center;}
#search_box select {margin-right:1rem;}
#search{width: 30vw;min-width: 220px;border-bottom: 1px solid #594543;padding: 0.5rem;}
.search_btn {margin-left: 0.5rem;}

/* error_page */
#error_page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
  text-align: center;
}

#error_page .error_cont {
  max-width: 90%;
  padding: 1.5rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background: #ffffff;
  width: 40%;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

#error_page .error_cont h1 {
  font-size: 2.5em;
}
#error_page .error_cont p {
  font-size: 1.5rem;
}
#error_page .error_cont a {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  font-weight: 500;
  color: #fff;
  background-color: var(--mimiLight);
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.2s ease;
}
#error_page .error_cont a:hover {
  background-color: var(--mimiDark);
}


.btn-home:hover {
  background-color: #217dbb;
}

/* 반응형 */
@media screen and (max-width: 768px) {
  #logo img{width: 4vw; max-width: 220px; min-width: 180px;}
  #nav .menu{display: none;}
  #nav .menu_icon{display: inline-block; width: 36px;margin-right: 2rem;}
  #nav .menu_icon i{font-size: 30px;}
  
  footer{padding: 1rem;height: auto;margin-top: 4rem;}
  footer p{font-size:14px;}
}
@media screen and (max-width: 500px) {
  #nav{height: 100px;}
  .base{height: 100px;}
  .nav_toggle{top: 100px;}
  .nav_toggle a{font-size: 16px;}
  #search_box{height: 180px;}
  .nav_toggle.open{height: 224px;}
} 